aiofiles==0.6.0
aiohttp==3.7.4.post0
async-lru==1.0.2
async-timeout==3.0.1
attrs==20.3.0
chardet==4.0.0
dataclass-factory==2.10.1
idna==3.1
multidict==5.1.0
numpy==1.20.1
pyaes==1.6.1
pydub==0.24.1
Pyrogram==1.2.5
pyromod==1.5
PySocks==1.7.1
shazamio==0.0.2
TgCrypto==1.2.2
typing-extensions==3.7.4.3
unknown==0.0.0
yarl==1.6.3
